<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZIP</title>
    <link rel="stylesheet" href="../css/parte_superior_do_desconto_na_primeira_compra.css">
    <link rel="stylesheet" href="../css/menu_principal.css">
    <link rel="stylesheet" href="../css/nick_dj_bazar.css">
    <link rel="stylesheet" href="../css/new_in_2024.css">
    <link rel="stylesheet" href="../css/italian_leather_artistry.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/primeiro_slide.css">
    <link rel="stylesheet" href="../css/watches.css">
    <link rel="stylesheet" href="../css/womens_bag.css">
    <link rel="stylesheet" href="../css/new_in_for_him.css">
    <link rel="stylesheet" href="../css/stories_recentes.css">
    <link rel="stylesheet" href="../css/rodape.css">
    <link rel="stylesheet" href="../css/primeiro_slide_promos.css">
    <link rel="stylesheet" href="../css/menu_retratio.css">
    <link rel="stylesheet" href="../css/body_responsivo.css">

    <!--links dos responsivos cell-->
    <!--body-->
    <link rel="stylesheet" href="../../css-cell/body.css" media="screen and (max-width:750px)">

    <!--parte superior-->
    <link rel="stylesheet" href="../../css-cell/parte_superior.css" media="screen and (max-width:750px)">

    <!--menu-->
    <link rel="stylesheet" href="../../css-cell/menu_principal.css" media="screen and (max-width:750px)">

    <!--nick dj bazar-->
    <link rel="stylesheet" href="../../css-cell/nick_dj_bazar.css" media="screen and (max-width:750px)">

    <!--new in responsivo-->
    <link rel="stylesheet" href="../../css-cell/new_in_responsivo.css" media="screen and (max-width:480px)">
    <link rel="stylesheet" href="../../css-cell/telas_especificas/new_in_responsivo_te.css">

    <!--promos-->
    <link rel="stylesheet" href="../../css-cell/promos.css" media="screen and (max-width:750px)">

    <!--watches-->
    <link rel="stylesheet" href="../../css-cell/watches.css" media="screen and (max-width:750px)">
    <link rel="stylesheet" href="../../css-cell/telas_especificas/watches_te.css">

    <!--italian-->
    <link rel="stylesheet" href="../../css-cell/italian_leather_artistry.css" media="screen and (max-width:750px)">

    <!--larezzo-->
    <link rel="stylesheet" href="../../css-cell/larezzo.css" media="screen and (max-width:750px)">
    <link rel="stylesheet" href="../../css-cell/telas_especificas/larezzo_te.css">

    <!--stories recentes-->
    <link rel="stylesheet" href="../../css-cell/stories_recentes.css" media="screen and (max-width:750px)">
    <link rel="stylesheet" href="../../css-cell/telas_especificas/stories_recentes_te.css">

    <!--rodape-->
    <link rel="stylesheet" href="../../css-cell/rodape.css" media="screen and (max-width:750px)">
    <link rel="stylesheet" href="../../css-cell/telas_especificas/rodape_te.css">
    <!--barra de baixo-->
    <link rel="stylesheet" href="../../css-cell/barra_de_baixo.css" media="screen and (max-width:750px)">

    <link rel="shortcut icon" href="../../IMG/android-icon-192x192.png" type="image/x-icon">


    <!-- Notify -->
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.css" />
    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>


</head>

<body>
    <!-- parte superior do desconto na primeira compra -->
    <a href="/masculino">
        <section id="section_parte_superior">
            <article>
                <article id="parte_superior">
                    <p id="parte_superior_texto_1"></p>
                </article>
                <!--parte das setas-->
                <article class="setas_parte_superior">
                    <img class="seta_esquerda_parte_superior"
                        src="IMG/parte superior do desconto na primeira compra REFEITO/seta_esquerda.svg" alt="">
                    <img class="seta_direita_parte_superior"
                        src="IMG/parte superior do desconto na primeira compra REFEITO/seta_direita.svg" alt="">
                </article>
            </article>
        </section>
    </a>


    <!--menu principal-->
    <section id="menu_principal_como_todo">
        <!--area do menu que contem os links-->
        <article id="menu_principal">
            <section id="section_menu_principal">
                <section id="parte_dos_links_do_menu">
                    <a href="/bazar" class="links_do_menu1">BAZAR</a>
                    <a href="/vender" class="links_do_menu2">VENDER</a>
                    <section id="section_menu_retratio">
                        <section id="section_do_menu_retratio_2">
                            <!--parte das imagens-->
                            <figure id="figure_imagens_menu_retratio">
                                <figure id="menu_retratio_imagem1">
                                    <img width="230px" src="../../IMG/menu_retratio/imagem_1.png" alt="">
                                    <figcaption class="parte_escrita_figcaption">
                                        Bazar Nick DJ
                                    </figcaption>
                                </figure>


                                <figure id="menu_retratio_imagem2">
                                    <img height="356px" src="/IMG/menu_retratio/imagem2.png" alt="">
                                    <figcaption class="parte_escrita_figcaption">
                                        Moda Passarela
                                    </figcaption>
                                </figure>
                            </figure>
                            <!--parte das listas-->
                            <article id="article_menu_retratio_lista">
                                <ul id="menu_retratio_ul1">
                                    <p id="menu_retratio_ul1_p">Venda na zip</p>
                                    <li class="menu_retratio_lista1">Saiba como vender</li>
                                    <li class="menu_retratio_lista1">Dicas de como vender bem</li>
                                    <li class="menu_retratio_lista1">Mais sobre comisssão</li>
                                </ul>
                                <ul id="menu_retratio_ul2">
                                    <p id="menu_retratio_ul2_p">Bazar</p>
                                    <li class="menu_retratio_lista2">Veja como montar o seu</li>
                                    <li class="menu_retratio_lista2">bazar na zip</li>
                                </ul>
                                <ul id="menu_retratio_ul3">
                                    <p id="menu_retratio_ul3_p">Ajuda</p>
                                    <li class="menu_retratio_lista3">Não recebi minha compra</li>
                                    <li class="menu_retratio_lista3">Tenho dúvidas</li>
                                </ul>
                            </article>
                            <!--parte escrita zip marketplace-->
                            <article id="parte_escrita_menu_retratio">
                                <img width="320px" src="IMG/menu_retratio/parte_escrita_refeito.png" alt="">
                            </article>
                        </section>
                    </section>
                    <a href="/feminino" class="links_do_menu3">FEMININO</a>
                    <a href="/masculino" class="links_do_menu4">MASCULINO</a>
                    <a href="/infantil" class="links_do_menu5">INFANTIL</a>
                    <a href="/acessorios" class="links_do_menu6">ACESSÓRIOS</a>
                </section>
            </section>
        </article>



        <!--logo zip-->
        <figure id="logo_zip_menu">
            <img id="logo_zip_menu_imagem" src="" alt="">
        </figure>





        <!--imagem da barra de pesquisa e etc-->
        <article id="barra_de_pesquisa_e_etc">
            <figure id="imagem_da_barra_de_pesquisa_e_etc">
                <figure id="imagem_da_barra_de_pesquisa" class="search-container_principal">
                    <article class="search-container_principal">
                        <article class="search-icon_principal" id="searchIcon_principal">
                            <a href="/pesquisa">
                                <lord-icon id="icon1_principal" src="https://cdn.lordicon.com/kkvxgpti.json" trigger="hover"
                                    style="width:21.5px;height:21.5px;display:none;">
                                </lord-icon>

                                <lord-icon id="icon2_principal" src="https://cdn.lordicon.com/kkvxgpti.json" trigger="hover"
                                    colors="primary:#ffffff" style="width:21.5px;height:21.5px;">
                                </lord-icon>
                            </a>
                        </article>
                    </article>
                </figure>

                <a href="/wishlist">
                    <figure id="imagem_do_icone_de_favorito">
                        <lord-icon id="lordicon" src="https://cdn.lordicon.com/xyboiuok.json" trigger="hover"
                            style="width:25.5px; height:25.5px; display: none;">
                        </lord-icon>
                        <lord-icon id="lordicon2" src="https://cdn.lordicon.com/xyboiuok.json" trigger="hover"
                            colors="primary:#ffffff" style="width:25.5px;height:25.5px">
                        </lord-icon>
                    </figure>
                </a>

                <a href="/perfil">
                    <figure id="imagem_do_icone_de_pessoa">
                        <lord-icon id="pessoa1" src="https://cdn.lordicon.com/kthelypq.json" trigger="hover"
                            colors="primary:#ffffff" style="width:25px;height:25px">
                        </lord-icon>

                        <lord-icon id="pessoa2" src="https://cdn.lordicon.com/kthelypq.json" trigger="hover"
                            style="width:25px;height:25px; display: none;">
                        </lord-icon>
                    </figure>
                </a>




                <a href="/cart">
                    <figure id="imagem_do_icone_da_sacola">
                        <lord-icon id="sacola1" src="https://cdn.lordicon.com/evyuuwna.json" trigger="morph"
                            state="morph-shopping-bag-open" style="width:25px;height:25px;display:none;">
                        </lord-icon>

                        <lord-icon id="sacola2" src="https://cdn.lordicon.com/evyuuwna.json" trigger="morph"
                            state="morph-shopping-bag-open" colors="primary:#ffffff" style="width:25px;height:25px;">
                        </lord-icon>
                    </figure>
                </a>


            </figure>

            <script src="../../barra_de_pesquisa.js"></script>

            <script src="../../js/rolagem_icones.js"></script>
        </article>

        <!--barra de pesquisa e etc responsivo-->
        <section id="barra_de_pesquisa_e_etc_responsivo">

            <!--barra de pesquisa-->
            <article class="search-container">
                <article class="search-icon" id="searchIcon">
                    <a href="/pesquisa">
                        <lord-icon id="icon1" src="https://cdn.lordicon.com/kkvxgpti.json" trigger="hover"
                            style="width:20px;height:20px;display:none;">
                        </lord-icon>

                        <lord-icon id="icon2" src="https://cdn.lordicon.com/kkvxgpti.json" trigger="hover"
                            colors="primary:#ffffff" style="width: 20px;height: 20px;">
                        </lord-icon>
                    </a>
                </article>
            </article>




            <!--icone sacola-->
            <article id="article_icone_sacola_cell">
            <a href="/cart" style="text-decoration: none; color: black;">
                <lord-icon id="icon3" src="https://cdn.lordicon.com/evyuuwna.json" trigger="morph"
                    state="morph-shopping-bag-open" style="width:21px;height:21px;display:none;">
                </lord-icon>
            


                <lord-icon id="icon4" src="https://cdn.lordicon.com/evyuuwna.json" trigger="morph"
                    state="morph-shopping-bag-open" colors="primary:#ffffff" style="width:21px;height:21px;">
                </lord-icon>
            </a>

                <script src="https://cdn.lordicon.com/lordicon.js"></script>
            </article>

            <article">
                <article id="openMenuBtn" class="botao_menu_cell ">
                </article>

                <article id="blackDiv"></article>

                <script src="../../rolagem_menu_cell.js"></script>

                <section id="menu" class="menu">
                    <!-- <span id="closeMenuBtn" class="closeBtn"><i class="fas fa-times">ooo</i></span> Botão de fechar menu -->
                    <section id="section_links_principais_cell">
                        <article id="article_links_principais_cell_p">
                            <p id="article_links_principais_cell_p1"><a href="/bazar">BAZAR</a>
                                <img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt="">
                            </p>

                            <p id="article_links_principais_cell_p2"><a href="/vender">VENDER</a>
                                    <img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt="">
                            </p>

                            <p id="article_links_principais_cell_p3"><a href="/feminino">FEMININO</a>
                                <img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt="">
                            </p>


                            <p id="article_links_principais_cell_p4"><a href="/masculino">MASCULINO</a>

                                <img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt="">
                            </p>

                            <p id="article_links_principais_cell_p5"><a href="/infantil">INFANTIL</a>
                                <img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt="">
                            </p>

                            <p id="article_links_principais_cell_p6"><a href="/acessorios">ACESSÓRIOS</a>
                                <img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt="">
                            </p>

                        </article>

                        <!--
                        <article id="article_links_principais_cell_img">
                            <img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt=""> 

                            <img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt="">

                            <img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt="">

                            <img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt="">

                            <img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt="">
                            
                            <img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt="">
                        </article>
                        -->
                    </section>


                    <% if (user !=  null) { %>
                        <article id="article_saiba_mais_menu_cell">
                            <p>Acesse seu perfil e participe do nosso marketplace</p>
                                <button>
                                    <a href="/perfil" style="color: black; text-decoration: none;">Perfil</a>
                                </button>
                        </article>
                    <% } else { %>
                        <article id="article_saiba_mais_menu_cell">
                            <p>Participe do nosso marketplace, favorite produtos e os adicione à sacola</p>
                                <button>
                                    <a href="/cadastro" style="color: black; text-decoration: none;">Cadastre-se</a>
                                </button>
                        </article>
                    <% } %>

                    <!--parte dos icones cell-->
                    <section id="section_icones_menu_deslizante_cell">
                        <!--numero um-->
                        <article class="article_icones_menu_deslizante_cell">
                            <article>
                                <lord-icon src="https://cdn.lordicon.com/kthelypq.json" trigger="hover"
                                    style="width:4.5vw;height:4.5vw">
                                </lord-icon>

                                <script src="https://cdn.lordicon.com/lordicon.js"></script>
                            </article>

                            <article>


                                <% if (user !=  null) { %>
                                    <p><a href="/perfil">Perfil</a></p>
                                <% } else { %>
                                    <p><a href="/perfil">Entrar</a></p>
                                <% } %>


                            </article>
                        </article>

                        <!--numero dois-->
                        <article class="article_icones_menu_deslizante_cell">
                            <article>
                                <lord-icon src="https://cdn.lordicon.com/evyuuwna.json" trigger="morph"
                                    state="morph-shopping-bag-open" style="width:4.5vw;height:4.5vw">
                                </lord-icon>

                                <script src="https://cdn.lordicon.com/lordicon.js"></script>
                            </article>

                            <article>
                                <p><a href="/cart" style="text-decoration: none; color: black;">Sacola</a></p>
                            </article>
                        </article>

                        <!--numero tres-->
                        <article class="article_icones_menu_deslizante_cell">
                            <article>
                                <lord-icon src="https://cdn.lordicon.com/xyboiuok.json" trigger="hover"
                                    style="width:4.5vw;height:4.5vw">
                                </lord-icon>

                                <script src="https://cdn.lordicon.com/lordicon.js"></script>
                            </article>

                            <article>
                                <p><a href="/wishlist">Wishilist</a></p>
                            </article>
                        </article>

                        <!--numero quatro-->
                        <article class="article_icones_menu_deslizante_cell">
                            <article>
                                <lord-icon src="https://cdn.lordicon.com/lobpqdog.json" trigger="hover"
                                    style="width:4.5vw;height:4.5vw">
                                </lord-icon>

                                <script src="https://cdn.lordicon.com/lordicon.js"></script>
                            </article>

                            <article id="article_contate_nos_menu_cell">
                                <p><a href="https://discord.gg/erJ958ZT">Contate-nos</a></p>
                                <figure><img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt=""></figure>
                            </article>
                        </article>

                        <hr id="linha_icones_menu_cell">

                        <article class="article_icones_menu_deslizante_cell" id="article_total_brasil_cell">
                            <article>
                                <figure id="figure_brasil_menu_cell"></figure>
                            </article>

                            <article id="article_brasil_menu_cell">
                                <p>Brasil | PT R$</p>
                                <figure><img src="../../IMG/area_do_menu/cell/setinha_do_menu.svg" alt=""></figure>
                            </article>
                        </article>
                    </section>

                </section>
                <article id="overlay"></article>
                </article>
        </section>

    </section>
    <script src="../../js/menu_transparente.js"></script>


    <script src="../../menu_responsivo.js"></script>



    <script src="../../rolagem_cell_icones.js"></script>


    <!--parte da barra de baixo cell-->
    <section id="section_barra_de_baixo_total">
        <section id="section_barra_de_baixo">
            <p>Feminino</p>
            <p>Masculino</p>
            <p>Infantil</p>
        </section>
    </section>




    <!--parte do vesace - bazar -->
    <section class="section_do_vesace_-_bazar">

        <!--video de fundo-->
        <article>
            <video class="video_versace_bazar"
                src="IMG/imagem_do_vesace_-_bazar/video/dwyane-wade-x-versace-eyewear-video-desk.mp4" height="" autoplay
                loop muted></video>
        </article>



        <!--parte escrita versace - bazar-->
        <article id="parte_escrita_versace_-_bazar">
            <figure>
                <img class="parte_escrita_versace_bazar_img"
                    src="IMG/imagem_do_vesace_-_bazar/parte_escrita_nick_dj_bazar.png" alt="">
            </figure>
        </article>



        <!--parte dos botoes-->
        <section id="parte_dos_botoes">
            <article class="botao_1">
                <p>The Collection</p>
            </article>

            <article class="botao_1 botao_2">
                <p>Compre Agora</p>
            </article>

        </section>

        <!--parte  responsiva-->


    </section>

    <!--imagem do nick dj bazar responsivo-->
    <section id="nick_dj_bazar_cell">

        <section class="slideshow-container">
            <article class="slide_dj_cell slide1_dj_cell">
                <video id="video_nick_dj_Bazar"
                    src="../../IMG/cell_index/dj_nick_bazar_cell/nick-dj-bazar-cell-principal.mp4" autoplay muted
                    loop></video>
            </article>

            <article class="slide_dj_cell slide2_dj_cell">
                <video src="../../IMG/cell_index/dj_nick_bazar_cell/nick_dj_bazar_cell.mp4" autoplay muted></video>
            </article>


        </section>

        <!--parte dos controles -->
        <!--bolinhas-->
        <article class="dots">
            <span class="dot"></span>
            <span class="dot"></span>
        </article>

        <!--parte dos controles em si-->
        <article id="section_controeles_cell">
            <article id="blur"></article>
        </article>

        <script src="../../css-cell/js/nick_dj_slide_cell.js"></script>

        <section id="botoes_escrita_di_nick_cell">
            <article id="parte_escrita_versace_-_responsivo">
                <figure id="figure_escrita_versace_-_responsivo">
                    <img class="parte_escrita_versace_bazar_img_responivo"
                        src="../../IMG/imagem_do_vesace_-_bazar/parte_escrita_nick_dj_bazar_responsivo_refeito.png"
                        alt="">
                </figure>
            </article>
            <section id="section_parte_dos_botoes_responsivo">
                <article class="parte_dos_botoes_responsivo">
                    <P>COMPRE AGORA</P>
                </article>
            </section>
        </section>
    </section>


    <!--parte do new in-->
    <section id="parte_do_new_in">

        <!--parte escrita highlights-->
        <figure id="parte_escrita_new_in">
            <img class="parte_escrita_highlights" src="IMG/imagem_do_vesace_-_bazar/aqui-tem.png" alt="">
        </figure>

        <!-- parte do slide onde contém o Tote Bags-->
        <article id="parte_do_slide_onde_contem_o_Tote_Bags">
            <section id="imagens_e_setas_do_highlights">



                <figure>
                    <img class="imagens_do_highlights" src="IMG/parte_do_highlights/quarta_mudanca/Womens_Boots_4.png"
                        alt="">
                    <figcaption class="texto_das_imagens_do_womens_boots">
                        Women´s Boots
                    </figcaption>
                </figure>

                <figure>
                    <img class="imagens_do_highlights" src="IMG/parte_do_highlights/quarta_mudanca/Mens_Shoes_4.png"
                        alt="">
                    <figcaption class="texto_das_imagens_do_highlights_mens_shoes">Men's Shoes</figcaption>
                </figure>

                <figure>
                    <img class="imagens_do_highlights" src="IMG/parte_do_highlights/quarta_mudanca/Mens_Bag_4.png"
                        alt="">
                    <figcaption class="texto_das_imagens_do_highlights_mens_bag">Men´s Bag</figcaption>
                </figure>

                <figure>
                    <img class="imagens_do_highlights "
                        src="IMG/parte_do_highlights/quarta_mudanca/Womens_Jewrely_4.png" alt="">
                    <figcaption class="texto_das_imagens_do_highlights_womens_jewrely">Women´s Jewrely</figcaption>
                </figure>

                <figure>
                    <img class="imagens_do_highlights" src="IMG/parte_do_highlights/quarta_mudanca/Grecca_Goddess_4.png"
                        alt="">
                    <figcaption class="texto_das_imagens_do_highlights_grecca_goddess">Grecca Goddess</figcaption>
                </figure>

            </section>

            <!--setas do highlights-->
            <figure class="setas_do_highlights">
                <article class="seta_highlights">
                    <img src="IMG/parte_do_highlights/terceira_mudanca/seta_esquerda.svg" alt="">
                </article>
                <article class="seta_highlights seta_direita_highlights">
                    <img id="seta_esquerda" src="IMG/parte_do_highlights/terceira_mudanca/seta_esquerda.svg" alt="">
                </article>
            </figure>

        </article>
    </section>

    <!--new in responsivo-->
    <section id="parte_do_new_in_responsivo">
        <section id="parte_do_new_in_responsivo_slide">

            <figure id="imagem_new_in_responsivo">
                <img class="parte_escrita_highlights" src="IMG/imagem_do_vesace_-_bazar/aqui-tem.png" alt="" style="width: 27vw; margin-left: 6vw;">
            </figure>

            <article id="new_in_responsivo_slide">
                <section class="carousel-container">
                    <article class="carousel-slide" class="rectangle">
                        <article class="slide">
                            <figure class="slide_figure">
                                <img id="new_in_responsivo_img1" src="../../IMG/new_in_responsivo/imagem1_refeito2.png"
                                    alt="">
                                <figure>
                                    <img id="new_in_responsivo_img2"
                                        src="../../IMG/new_in_responsivo/imagem2_refeito.png" alt="">
                                    <figcaption class="figcapition_new_in">
                                        <p>Men's Bag</p>
                                    </figcaption>
                                </figure>
                                <img id="new_in_responsivo_img3" class="imagem_do_meio_new_in"
                                    src="../../IMG/new_in_responsivo/imagem3_refeito.png" alt="">
                            </figure>
                        </article>
                        <article class="slide">
                            <figure class="slide_figure">
                                <img id="new_in_responsivo_img4" class="imagem_do_meio_new_in"
                                    src="../../IMG/new_in_responsivo/imagem2_refeito.png" alt="">
                                <figure>
                                    <img id="new_in_responsivo_img5" class="imagem_do_meio_new_in2"
                                        src="../../IMG/new_in_responsivo/imagem3_refeito.png" alt="">
                                    <figcaption class="figcapition_new_in" id="figcapition_new_in2">
                                        <p>Women's Jewrely</p>
                                    </figcaption>
                                </figure>
                                <img id="new_in_responsivo_img6" class="imagem_do_meio_new_in"
                                    src="../../IMG/new_in_responsivo/imagem4_refeito.png" alt="">
                            </figure>
                        </article>
                        <article class="slide">
                            <figure class="slide_figure">
                                <img id="new_in_responsivo_img7" class="imagem_do_meio_new_in"
                                    src="../../IMG/new_in_responsivo/imagem3_refeito.png" alt="">
                                <figure>
                                    <img id="new_in_responsivo_img8" class="imagem_do_meio_new_in3"
                                        src="../../IMG/new_in_responsivo/imagem4_refeito.png" alt="">
                                    <figcaption class="figcapition_new_in" id="figcapition_new_in3">
                                        <p>Grecca Goddess</p>
                                    </figcaption>
                                </figure>
                                <img id="new_in_responsivo_img9" class="imagem_do_meio_new_in"
                                    src="../../IMG/new_in_responsivo/imagem5_refeito.png" alt="">
                            </figure>
                        </article>
                    </article>
                </section>

                <section id="section_carrousel">
                    <article class="carousel-pagination">
                        <span class="pagination-item active"></span>
                        <span class="pagination-item"></span>
                        <span class="pagination-item"></span>
                    </article>
                </section>
            </article>
        </section>
    </section>

    <script src="../../new_in_slide.js"></script>

    <!--primeiros slide promos-->

    <!--promos responsivo-->
    <section id="section_do_promos_responsivo">
        <section id="section_promos_responsivo">
            <!--parte escrita-->
            <figure id="parte_escrita_promos_responsivo">
                <img src="../../IMG/promos_responsivo/parte_escrita_promos_refeito.png" alt="">
            </figure>
            <!--parte do slide-->
            <section>
                <article id="promo_responsivo_slide">
                    <% bloco3.forEach(function(produto) { %>
                        <figure>
                            <a href="/produtos/<%= produto.id_prod_cliente %>">
                                <figure id="promo_responsivo_slide">
                                    <img class="imagem_do_slide" src="../../IMG/uploads/<%= produto.img1 %>" alt="" style="height: 37vh;">
                                </figure>
                                <figcaption id="figcaption_promos_responsivo">
                                    <p id="paragrafo_promos_responsivo"><%= produto.tituloprod %></p>
                                    <p   style="color: black;" id="preco_promos_responsivo">R$ <%= produto.preçoprod %></p>
                                </figcaption>
                            </a>
                        </figure>
                    <% }); %>
                    
                    <% bloco4.forEach(function(produto) { %>
                    <figure>
                        <a href="/produtos/<%= produto.id_prod_cliente %>">
                        <figure id="promo_responsivo_slide">
                            <img class="imagem_do_slide" src="../../IMG/uploads/<%= produto.img1 %>" alt="" style="height: 37vh;">
                        </figure>
                        <figcaption id="figcaption_promos_responsivo">
                            <p id="paragrafo_promos_responsivo"><%= produto.tituloprod %></p>
                            <p id="preco_promos_responsivo">R$ <%= produto.preçoprod %></p>
                        </figcaption>
                        </a>
                    </figure>
                    <% }); %>
                </article>
            </section>
            <section id="section_setas_promos">
                <figure id="figure_setas_promos_responsivo">
                    <img id="rotacao_seta_promos_responsivo" src="../../IMG/promos_responsivo/seta_esquerda.png" alt="">
                    <img src="../../IMG/promos_responsivo/seta_direita.png" alt="">
                </figure>
            </section>
        </section>
    </section>


    <!--promos desktop-->

    <!--parte dos relogios-->
    <section class="section_slide_promos">
        <!--slide principal-->
        <article class="slide_principal_promos_article">
            <section class="slider_principal_promos">
                <% bloco1.forEach(function(produto) { %>
                <a href="/produtos/<%= produto.id_prod_cliente %>">
                <article class="slide_principal_promos">
                    <article class="slide_principal_grupo_promos">
                        <article id="produto_principal_promos_parte_e_scrita_e_imagem">
                            <img id="Produto_principal_promos" src="../../IMG/uploads/<%= produto.img1 %>" alt="">
                            <figcaption id="figcaption_do_slide_Principal_promos">
                                <p id="paragrafo_do_slide_Principal_promos"><%= produto.tituloprod %>
                                </p>
                                <p id="paragrafo_do_slide_Principal_promos_preço">R$ <%= produto.preçoprod %></p>
                            </figcaption>
                        </article>
                    </article>
                </article>
                </a>
                <% }); %>

                <!--slide 2-->
                <!--slide principal2-->
                <article class="slide_principal_promos_article">
                    <section class="slider_principal_promos2">
                        <% bloco8.forEach(function(produto) { %>
                        <article class="slide_principal_promos">
                            <a href="/produtos/<%= produto.id_prod_cliente %>">
                            <article class="slide_principal_grupo_promos">
                                <article id="produto_principal_promos_parte_e_scrita_e_imagem2">
                                    <img class="Produto_principal_promos2" src="../../IMG/uploads/<%= produto.img1 %>" alt="">
                                    <figcaption id="figcaption_do_slide_Principal_promos">
                                        <p id="paragrafo_do_slide_Principal_promos"><%= produto.tituloprod %>
                                        <p id="paragrafo_do_slide_Principal_promos_preço">R$ <%= produto.preçoprod %></p>
                                    </figcaption>
                                </article>
                            </article>
                            </a>
                        </article>
                        <% }); %>
                    </section>



                    <!--slide 2-->
                    <!--slide principal2-->



                </article>
        </article>

        <!--parte escrita promos-->
        <section>
            <figure id="parte_escrita_promos">
                <img src="IMG/primeiro_slide_promos/parte_escrita_promos_refeito-removebg-preview.png" alt="">
            </figure>
        </section>


        <!--promos-->
        <article class="slide_secundario_article_promos">
            <!-- Slider container -->
            <article class="slider_secundario_promos">
                <!-- slide 1 -->

                <!--slide principal-->

                <article class="slide_secundario_promos">
                    <article class="slide_secundario_grupo_promos">
                        <% bloco2.forEach(function(produto) { %>
                        <section>
                            <a href="/produtos/<%= produto.id_prod_cliente %>">
                            <img id="slide_secundario_promos_produto1" src="../../IMG/uploads/<%= produto.img1 %>" alt="">
                            <article class="parte_escrita_relogio">
                                <p class="relogios_paragrafo"><%= produto.tituloprod %></p>
                                <p class="relogios_paragrafo_preco">R$ <%= produto.preçoprod %></p>
                            </article>
                            </a>
                        </section>
                        <% }); %>

                        <% bloco3.forEach(function(produto) { %>
                        <section>
                            <a href="/produtos/<%= produto.id_prod_cliente %>">
                                <img id="slide_secundario_promos_produto2" src="../../IMG/uploads/<%= produto.img1 %>" alt="">
                            <article class="parte_escrita_relogio">
                                <p class="relogios_paragrafo"><%= produto.tituloprod %></p>
                                <p class="relogios_paragrafo_preco">R$ <%= produto.preçoprod %></p>
                            </article>
                            </a>
                        </section>
                        <% }); %>

                        <% bloco4.forEach(function(produto) { %>
                        <section>
                            <a href="/produtos/<%= produto.id_prod_cliente %>">
                            <img id="slide_secundario_promos_produto3" src="../../IMG/uploads/<%= produto.img1 %>" alt="">
                            <article class="parte_escrita_relogio">
                                <p class="relogios_paragrafo"><%= produto.tituloprod %></p>
                                <p class="relogios_paragrafo_preco">R$ <%= produto.preçoprod %></p>
                            </article>
                            </a>
                        </section>
                        <% }); %>

                        <!--fim grupo-->
                    </article>
                </article>

                <!-- slide 2 -->



                <!--slide secundario-->
                <article class="slide_secundario_promos">
                    <article class="slide_secundario_grupo_promos">
                        <article id="slide_secundario_promos2">
                            <% bloco5.forEach(function(produto) { %>
                            <article>
                                <a href="/produtos/<%= produto.id_prod_cliente %>">
                                <img id="slide2_secundario_promos_produto1" src="../../IMG/uploads/<%= produto.img1 %>" alt="">
                                <article class="parte_escrita_relogio">
                                    <p class="relogios_paragrafo" style="text-decoration: none;"><%= produto.tituloprod %></p>
                                    <p class="relogios_paragrafo_preco">R$ <%= produto.preçoprod %></p>
                                </article>
                                </a>
                            </article>
                            <% }); %>

                            <% bloco6.forEach(function(produto) { %>
                            <article>
                                <a href="/produtos/<%= produto.id_prod_cliente %>">
                                <img id="slide2_secundario_promos_produto2" src="../../IMG/uploads/<%= produto.img1 %>" alt="">
                                <article class="parte_escrita_relogio">
                                    <p class="relogios_paragrafo"><%= produto.tituloprod %></p>
                                    <p class="relogios_paragrafo_preco">R$ <%= produto.preçoprod %></p>
                                </article>
                                </a>
                            </article>
                            <% }); %>

                            <% bloco7.forEach(function(produto) { %>
                            <article>
                                <a href="/produtos/<%= produto.id_prod_cliente %>">
                                <img id="slide2_secundario_promos_produto3" src="../../IMG/uploads/<%= produto.img1 %>" alt="">
                                <article class="parte_escrita_relogio">
                                    <p class="relogios_paragrafo"><%= produto.tituloprod %></p>
                                    <p class="relogios_paragrafo_preco">R$ <%= produto.preçoprod %></p>
                                </article>
                                </a>
                            </article>
                            <% }); %>

                        </article>

                        <!--fim grupo-->
                        </artcle>
    </section>


    <!-- Control buttons -->
    <section class="section_dos_botoes">
        <article>
            <button id="botao_responsivo" class="btn btn-next"><img src="IMG/bazar/parte_dos_relogios/seta.png" alt="">
            </button>
            <button class="btn btn-prev"> voltar </button>
        </article>
    </section>
    </article>
    </article>

    </section>

    <script src="./javascript_slide/slide_principal_promos.js"></script>
    <script src="javascript_slide/slide_secundario_promos.js"></script>







    <!--parte escrita new in está na linha 406-->




    <!--watches cell-->
    <section id="section_watche_responsivo_cell">
        <section id="section_imagens_bt_pe_watches_cell">
            <figure id="imagem_principal_watches_cell" class="square"><img src="../IMG/cell_index/watches/imagem_principal.avif" alt=""></figure>
            <article id="article_watches_imagem_principal">
                <figure id="parte_escrita_watches_cell" class="square"><img src="../IMG/watches/definitivo/imagem_watches_parte_escrita_refeito.png" alt=""></figure>
                <button id="botao_watches_cell" class="square">COMPRE AGORA</button>
            </article>
        </section>

        <script src="../../scroll_cell.js"></script>

        <!--slide-->
        <article id="article_watches_slide">
            <section id="watches_slide">

                <article class="slider2">
                    <article class="slides2">

                        <!--botoes do radio-->
                        <input type="radio" name="radio-btn" id="radio3">
                        <input type="radio" name="radio-btn" id="radio4">
                        <!--slide imagens-->
                        <% bloco9.forEach(function(produto) { %>
                        <article class="slide first2 slide_watches_cell">
                            <a href="/produtos/<%= produto.id_prod_cliente %>">
                            <img class="imagem_do_watches_slide_cell" src="../../IMG/uploads/<%= produto.img1 %>" alt="">
                            <figcaption class="paragrafo_figcaption_cell" style="">
                                <p class="produto_paragrafo_watches1_cell"><%= produto.tituloprod %></p>
                                <p class="parte_do_preço_watches_cell">R$ <%= produto.preçoprod %></p>
                            </figcaption>
                            </a>
                        </article>
                        <% }); %>
                        <% bloco10.forEach(function(produto) { %>
                        <article class="slide slide_watches_cell ">
                            <a href="/produtos/<%= produto.id_prod_cliente %>">
                            <img class="imagem_do_watches_slide2_cell" src="../../IMG/uploads/<%= produto.img1 %>" alt="">
                            <figcaption class="paragrafo_figcaption_cell">
                                <p class="produto_paragrafo_watches2_cell"><%= produto.tituloprod %></p>
                                <p class="parte_do_preço_watches_cell">R$ <%= produto.preçoprod %></p>
                            </figcaption>
                            </a>
                        </article>
                        <% }); %>
                        <!--navigation auto-->
                        <article class="navigation-=auto">
                            <article class="auto-btn1"></article>
                            <article class="auto-btn2"></article>
                        </article>
                    </article>
                    <article id="bolinhas_watches_cell">
                        <article class="manual-navigation">
                            <label for="radio3" class="manual-btn"></label>
                            <label for="radio4" class="manual-btn"></label>
                        </article>
                    </article>



            </section>









    </section>

    <figure id="setas-watches-cell">
        <img id="setas-esquerda-watches-cell" src="../../IMG/promos_responsivo/seta_esquerda.png" alt="">
        <img src="../../IMG/promos_responsivo/seta_direita.png" alt="">
    </figure>

    </section>
    </artcle>
    </artcle>

    <!--watches desktop-->
    <section id="parte_como_todo_watches">
        <section class="section_watches">
            <!--imagem do zara bazar para ele-->
            <figure>
                <img class="imagem_do_watches" src="IMG/watches/definitivo/imagem_watches_principal.png" alt="">
            </figure>


            <figure id="figure_imagem_whatches">
                <img id="imagem_watches" src="IMG/watches/definitivo/imagem_watches_parte_escrita.png" alt="">
            </figure>

            <article id="botao_do_watches">
                <p id="paragrafo_botao_do_watches">COMPRE AGORA</p>
            </article>

            <article>
                <section id="watches_slide">

                    <article class="slider">
                        <article class="slides">

                            <!--botoes do radio-->
                            <input type="radio" name="radio-btn" id="radio1">
                            <input type="radio" name="radio-btn" id="radio2">
                            <!--slide imagens-->
                            <% bloco9.forEach(function(produto) { %>
                            <article class="slide first">
                                <a href="/produtos/<%= produto.id_prod_cliente %>">
                                <img class="imagem_do_watches_slide" src="../../IMG/uploads/<%= produto.img1 %>" alt="">
                                <figcaption class="paragrafo_figcaption">
                                    <p class="produto_paragrafo_watches1"><%= produto.tituloprod %></p>
                                    <p class="parte_do_preço_watches">R$ <%= produto.preçoprod %></p>

                                </figcaption>
                                </a>
                            </article>
                            <% }); %>
                            <% bloco10.forEach(function(produto) { %>
                            <article class="slide ">
                                <a href="/produtos/<%= produto.id_prod_cliente %>">
                                <img class="imagem_do_watches_slide2" src="../../IMG/uploads/<%= produto.img1 %>" alt="">
                                <figcaption class="paragrafo_figcaption">
                                    <p class="produto_paragrafo_watches2"><%= produto.tituloprod %></p>
                                    <p class="parte_do_preço_watches">R$ <%= produto.preçoprod %></p>
                                </figcaption>
                                </a>
                            </article>
                            <% }); %>
                            <!--navigation auto-->
                            <article class="navigation-=auto">
                                <article class="auto-btn1"></article>
                                <article class="auto-btn2"></article>
                            </article>
                        </article>
                        <article class="manual-navigation">
                            <label for="radio1" class="manual-btn"></label>
                            <label for="radio2" class="manual-btn"></label>
                        </article>
                </section>







        </section>
    </section>
    </artcle>
    </artcle>


    </article>



    <article class="setas_watches">
        <img id="setaesquerda" class=" seta seta-esquerda" src="IMG/watches/definitivo/seta_esquerda.png" alt="">
        <img id="setadireita" class=" seta seta-direita" src="IMG/watches/definitivo/seta_direita.png" alt="">
    </article>







    <!--italian leather artistry-->

    <!--italian cell-->
    <section id="section_italian_cell">
        <figure id="imagem_pricipal_italian_cell"><img src="../IMG/italian_leather_artistry/definitivo/imagem_principal_cell.png" alt=""></figure>
        <article id="article_parte_escrita_italian_cell">
            <figure id="parte_escrita_italian_cell"><img src="../IMG/italian_leather_artistry/definitivo/parte_escrita_cell_refeito.png" alt=""></figure>
            <button id="botao_italian_cell">ÓCULOS 50% OFF*</button>
        </article>
    </section>

    <!--italian desktop-->
    <section class="section_italian">
        <article class="italian_leather_artistry">
            <figure id="imagem_italian_leather_artistry" class="class_imagem_italian_leather_artistry">
                <img src="../IMG/italian_leather_artistry/definitivo/imagem_do_italian_leather_artstry_2024.png" alt="">
            </figure>
        </article>

        <!--parte escrita italian leather artistry-->
        <section ID="segunda-foto-negao">
        <figure>
            <img class="parte_escrita_italian_leather_artistry"
                src="IMG/italian_leather_artistry/definitivo/parte_escrita_italian_leather_artistry_2024.png" alt="">
        </figure>

        <!--botão compre agora-->
        <article class="oculos_50_off_italian_leather_artistry">
            <p class="botao_parte_escrita_italian_leather_artistry">COMPRE COM 50% OFF*</p>
        </article>
    </section>
    </section>


    <!--new in for him-->
    <!--larezzo cell-->
    <section id="section_larezzo_cell">
        <!--slide-->
        <section id="larezzo_slide">

            <article class="sliderla">
                <article class="slides2la">

                    <!--botoes do radio-->
                    <input type="radio" name="radio-btn" id="radio3la">
                    <input type="radio" name="radio-btn" id="radio4la">
                    <!--slide imagens-->
                    <% bloco11.forEach(function(produto) { %>
                    <article class="slide first2 slide_larezzo_cell">
                        <a href="/produtos/<%= produto.id_prod_cliente %>">
                        <img class="imagem_do_larezzo_slide_cell" src="../../IMG/uploads/<%= produto.img1 %>" alt="">
                        <figcaption class="paragrafo_figcaption_cell">
                            <p class="produto_paragrafo_larezzo1_cell"><%= produto.tituloprod %></p>
                            <p class="parte_do_preço_larezzo_cell">R$ <%= produto.preçoprod %></p>
                        </figcaption>
                        </a>
                    </article>
                    <% }); %>
                    <% bloco12.forEach(function(produto) { %>
                    <article class="slide slide_larezzo_cell ">
                        <a href="/produtos/<%= produto.id_prod_cliente %>">
                        <img class="imagem_do_larezzo_slide2_cell" src="../../IMG/uploads/<%= produto.img1 %>" alt="">
                        <figcaption class="paragrafo_figcaption_cell">
                            <p class="produto_paragrafo_larezzo2_cell"><%= produto.tituloprod %></p>
                            <p class="parte_do_preço_larezzo_cell">R$ <%= produto.preçoprod %></p>
                        </figcaption>
                        </a>
                    </article>
                    <% }); %>
                    <!--navigation auto-->
                    <article class="navigation-=auto">
                        <article class="auto-btn1"></article>
                        <article class="auto-btn2"></article>
                    </article>
                </article>
                <section id="larezzo_bolinha_cell">
                    <article class="manual-navigationla">
                        <label for="radio3la" class="manual-btn"></label>
                        <label for="radio4la" class="manual-btn"></label>
                    </article>
                </section>
        </section>

        <figure id="setas-larezzo-cell">
            <img id="setas-esquerda-watches-cell" src="../../IMG/promos_responsivo/seta_esquerda.png" alt="">
            <img src="../../IMG/promos_responsivo/seta_direita.png" alt="">
        </figure>

        <!--imagem principal-->
        <article id="article_larezzo_cell">
            <figure id="imagem_principal_larezzo_cell" class="square"><img src="../IMG/cell_index/larezzo/imagem-principal.avif" alt=""></figure>
            <article id="article_parte_escrita_larezzo_cell">
                <figure id="parte_escrita_larezzo_cell"><img src="../IMG/larezzo/parte_escrita_cell_refeito.png" alt=""></figure>
                <button id="botao_larezzo_cell">COMPRE AGORA</button>
            </article>
        </article>
    </section>


    <!--larezzo desktop-->
    <section class="body_new_in_for_him">
        <section class="new_in_for_him">
            <!--imagem new in for him-->
            <figure>
                <img class="imagem_do_larezzo"
                    src="IMG/new_in_for_him/new_in_for_him/imagens_principais/imagem_principal_larezzo.png" alt="">
            </figure>
            <article>
                <article class="slider2">
                    <section class="slides">
                        <!--botoes do radio-->
                        <input type="radio" name="radio-btn" id="radio2_1">
                        <input type="radio" name="radio-btn" id="radio2_2">
                        <!--slides imagens-->
                        <% bloco11.forEach(function(produto) { %>
                        <section class="slide first">
                            <a href="/produtos/<%= produto.id_prod_cliente %>">
                            <img class="imagem_do_larezzo_slide" src="../../IMG/uploads/<%= produto.img1 %>" alt="">
                            <figcaption class="paragrafo_figcaption_larezzo">
                                <p class="produto_paragrafo_larezzo1"><%= produto.tituloprod %></p>
                                <p class="parte_do_preço_larezzo">R$ <%= produto.preçoprod %></p>

                            </figcaption>
                            </a>
                        </section>
                        <% }); %>
                        <% bloco12.forEach(function(produto) { %>
                        <section class="slide">
                            <a href="/produtos/<%= produto.id_prod_cliente %>">
                            <img class="imagem_do_larezzo_slide2" src="../../IMG/uploads/<%= produto.img1 %>" alt="">
                            <figcaption class="paragrafo_figcaption_larezzo">
                                <p class="produto_paragrafo_larezzo2"><%= produto.tituloprod %></p>
                                <p class="parte_do_preço_larezzo">R$ <%= produto.preçoprod %></p>

                            </figcaption>
                            </a>
                        </section>
                        <% }); %>
                        <!--navigation auto-->
                        <article class="navigation-auto2">
                            <article class="auto-btn1"></article>
                            <article class="auto-btn2"></article>

                        </article>
                    </section>
                    <article class="manual-navigation2">
                        <label for="radio2_1" class="manual-btn2"></label>
                        <label for="radio2_2" class="manual-btn2"></label>
                    </article>
                </article>
                <section class="setas_new_in_for_him">

                    <figure>
                        <img id="setaesquerda" class=" seta seta-esquerda"
                            src="IMG/new_in_for_him/new_in_for_him/seta_esquerda.png" alt="">
                    </figure>

                    <figure>
                        <img id="setadireita" class=" seta seta-direita"
                            src="IMG/new_in_for_him/new_in_for_him/seta_direita.png" alt="">
                    </figure>
                </section>


                <!--NEW IN FOR HIM-->
                <figure>
                    <img class="escrita_em_new_in_for_him"
                        src="IMG/new_in_for_him/new_in_for_him/imagens_principais/parte_escrita_refeito.png" alt="">
                </figure>
            </article>

            <!--botão compre agora-->
            <article class="compre_agora_new_in">
                <p class="paragrafo_new_in">COMPRE AGORA</p>
            </article>

        </section>
    </section>

    <!--STORIES RECENTES-->
    <section class="descer-ropade">
    <!--stories recentes cell-->
    <section id="section_stories_recentes_cell">
        <figure id="figure_stories_recentes_cell"></figure>
        <!--slide-->
        <section id="section_slide_stories_recentes_cell">
            <!--slide principal-->
            <section class="carousel-containerST">
                <section class="carousel-slideST">
                    <article class="slideST">
                        <article class="rectangleST">
                            <section id="section_slide_stories_recente_cell">
                                <article>
                                    <figure id="figure1_slide_stories_recente_cell"></figure>
                                    <p><a href="#">Leia Mais</a></p>
                                </article>
                                <article>
                                    <figure id="figure2_slide_stories_recente_cell"></figure>
                                    <p><a href="#">Leia Mais</a></p>
                                </article>
                                <article>
                                    <figure id="figure3_slide_stories_recente_cell"></figure>
                                    <p id="leia-mais-3-slide1"><a href="#">Leia Mais</a></p>
                                </article>
                            </section>
                        </article>
                    </article>
                    <article class="slideST">
                        <article class="rectangleST">
                            <section id="section_slide_stories_recente_cell2">
                                <article>
                                    <figure id="figure4_slide_stories_recente_cell"></figure>
                                    <p><a href="#">Leia Mais</a></p>
                                </article>
                                <article>
                                    <figure id="figure5_slide_stories_recente_cell"></figure>
                                    <p id="leia-mais-2-slide2"><a href="#">Leia Mais</a></p>
                                </article>
                                <article>
                                    <figure id="figure6_slide_stories_recente_cell"></figure>
                                    <p id="leia-mais-3-slide2"><a href="#">Leia Mais</a></p>
                                </article>
                            </section>
                        </article>
                    </article>
                </section>
            </section>

            <!--slide escrito-->
            <section class="carousel3st">
                <article class="slide3st red3st active3st">
                    <article id="article_slide_escrito_stories_recentes_cell">
                        <p>Elaine Marcus abre bazar na zip</p>
                        <p>Zip ajuda instituições infantis</p>
                        <p id="article_slide_escrito_stories_recentes_cell_p3">Indústria secondhand na sustentabilidade
                        </p>
                    </article>
                </article>
                <article class="slide3st blue3st">
                    <article id="article_slide_escrito_stories_recentes_cell2">
                        <p>Indústria secondhand na sustentabilidade</p>
                        <p>Elaine Marcus abre bazar na zip</p>
                        <p id="article_slide_escrito_stories_recentes_cell2_p3">Zip ajuda instituições infantis</p>
                    </article>
                </article>
            </section>

            <script src="../../stories_recente_slide_p.js"></script>

            <!--bolinhas-->
            <section id="bolinhas-stories-cell">
                <article class="carousel-paginationST">
                    <span class="pagination-itemST active2"></span>
                    <span class="pagination-itemST"></span>
                </article>
            </section>
            <script src="../../stories_recente_cell.js"></script>
        </section>

        <!--linha-->
        <article id="article_linha_stories_recentes_cell">
            <hr>
        </article>

        <!--entre no mundo-->
        <section id="section_entre_no_mundo_cell">
            <figure id="figure_entre_no_mundo_cell"></figure>

            <article id="paragrafo_entre_no_mundo_cell">
                <p>Esteja por dentro de eventos, coleções e novidades exclusivas</p>
            </article>

            <section id="section_botao_email_entre_no_mundo_cell">
                <a href="/cadastro">
                    <article id="article_botao_email_entre_no_mundo_cell">
                        <p>E-mail</p>
                        <img src="../../IMG/stories_recentes/cell/seta.svg" alt="">
                    </article>
                </a>
            </section>

        </section>

    </section>

    <!--stories recentes desktop-->
    <section class="storeis_recentes">
        <article>
            <img class="escrita_stories_recentes" src="IMG/stories_recentes/parte_escrita_stories_recentes_2024.png"
                alt="">

            <!--pontos do slide-->
            <figure class="ponsto_do_slide_conjunto">
                <img class="pontos_do_slide_seta_esquerda" src="IMG/stories_recentes/pontos_do_slide_seta_esquerda.svg"
                    alt="">
                <figure class="pontos_do_slide_pontos">

                    <img src="IMG/stories_recentes/pontos_do_slide_ponto_ativo.svg" alt="">
                    <img src="IMG/stories_recentes/pontos_do_slide_pontoi_nao_ativo.svg" alt="">
                    <img src="IMG/stories_recentes/pontos_do_slide_pontoi_nao_ativo.svg" alt="">
                    <img src="IMG/stories_recentes/pontos_do_slide_pontoi_nao_ativo.svg" alt="">
                    <img src="IMG/stories_recentes/pontos_do_slide_pontoi_nao_ativo.svg" alt="">
                    <img src="IMG/stories_recentes/pontos_do_slide_pontoi_nao_ativo.svg" alt="">
                    <img src="IMG/stories_recentes/pontos_do_slide_pontoi_nao_ativo.svg" alt="">
                    <img src="IMG/stories_recentes/pontos_do_slide_pontoi_nao_ativo.svg" alt="">
                    <img src="IMG/stories_recentes/pontos_do_slide_pontoi_nao_ativo.svg" alt="">
                    <img src="IMG/stories_recentes/pontos_do_slide_pontoi_nao_ativo.svg" alt="">
                    <img src="IMG/stories_recentes/pontos_do_slide_pontoi_nao_ativo.svg" alt="">
                    <img src="IMG/stories_recentes/pontos_do_slide_pontoi_nao_ativo.svg" alt="">

                </figure>
                <img class="pontos_do_slide_seta_direita" src="IMG/stories_recentes/pontos_do_slide_seta_direita.svg"
                    alt="">
            </figure>
        </article>

        <article class="slides_stories_recentes">
            <figure>
                <img src="IMG/stories_recentes/slides/2024/imagem1.png" alt="">
                <figcaption> <img class="texto_da_imgagem_stories_recentes texto_da_imgagem_stories_recentes1"
                        src="IMG/stories_recentes/slides/texto/industria_second_escrita_refeito.png" alt=""> <br>
                    <a class="link_do_stories_recentes" href="">Leia Mais</a>
                </figcaption>
            </figure>

            <figure>
                <img src="IMG/stories_recentes/slides/2024/imagem2.png" alt="">
                <figcaption> <img class="texto_da_imgagem_stories_recentes texto_da_imgagem_stories_recentes2"
                        src="IMG/stories_recentes/slides/texto/versace_abre_bazar_na_zip_refeito.png" alt=""> <br> <br>
                    <a class="link_do_stories_recentes link_stories_recentes2" href="">Leia Mais</a>
                </figcaption>
            </figure>

            <figure>
                <img src="../IMG/cell_index/stories-recentes/imagem-kid.avif" alt="" style="height: 48vh;">
                <figcaption> <img class="texto_da_imgagem_stories_recentes texto_da_imgagem_stories_recentes3"
                        src="IMG/stories_recentes/slides/texto/zip_ajuda_instituicoes_infantis_refeito.png" alt=""> <br>
                    <br>
                    <a class="link_do_stories_recentes link_stories_recentes3" href="">Leia Mais</a>
                </figcaption>
            </figure>

            <figure>
                <img style="opacity: 15%;" src="IMG/stories_recentes/slides/2024/imagem4.png" alt="">

            </figure>

        </article>

        <!--ENTRE NO MUNDO ZIP-->
        <article class="article_entre_no_mundo_zip">
            <!--linha-->
            <article>
                <hr class="linha_do_entre_no_mundo_zip">
            </article>

            <!--escrito entre no mundo zip-->
            <section class="parte_do_entre_no_mundo_zip">
                <figure class="figure_escrita_entre_nomundo_zip">
                    <img class="escrita_entre_nomundo_zip"
                        src="IMG/stories_recentes/slides/entre_no_mundo_zip/escrita_entre_no_mundo_zip_refeito.png"
                        alt="">
                </figure>
                <!--Esteja por dentro de eventos, coleções e novidades exclusivas-->
                <article class="article_paragrafo_stories_recentes">
                    <p class="paragrafo_stories_recentes">Esteja por dentro de eventos, coleções e novidades exclusivas
                    </p>
                </article>
                <!--Digite o seu e-mail-->
                <article>
                    <a href="/cadastro" class="link_entre_no_mundo_zip">
                        <section class="article_digite_o_seu_email">
                            <article class="digite_o_seu_email_stories_recentes">
                                <p class="paragrafo_digite_o_seu_email">Digite o seu e-mail</p>
                                <img class="setinha_do_digite_o_seu_email"
                                    src="IMG/stories_recentes/slides/entre_no_mundo_zip/setinha_do_digite_o_seu_email.svg"
                                    alt="">
                            </article>
                        </section>
                    </a>
                </article>
            </section>
        </article>


    </section>

    <section>
        <article class="boddy"><img class="escrita_new_in" src="IMG/primeiro_slide/parte_escrita_new_in.png" alt="">
        </article>
    </section>

    <!--rodapé-->

    <!--rodapé cell-->
    <section id="rodape_cell">
        <article class="rodape_cell_conteudo">
            <article>
                <figure id="figure1_cell_conteudo">
                    <lord-icon src="https://cdn.lordicon.com/qeemqlwz.json" trigger="hover"
                        colors="primary:#ffffff,secondary:#ffffff" style="width:25px;height:25px">
                    </lord-icon>
                </figure>
                <p id="paragrafo1_cell_conteudo">SOBRE NÓS</p>
            </article>
        </article>

        <article class="rodape_cell_conteudo">
            <article>
                <figure id="figure2_cell_conteudo">
                    <lord-icon src="https://cdn.lordicon.com/kthelypq.json" trigger="hover" colors="primary:#ffffff"
                        style="width:25px;height:25px">
                    </lord-icon>
                </figure>
                <p id="paragrafo2_cell_conteudo">ZIP & VOCÊ</p>
            </article>
        </article>

        <article class="rodape_cell_conteudo">
            <article>
                <figure id="figure3_cell_conteudo">
                    <lord-icon src="https://cdn.lordicon.com/hqymfzvj.json" trigger="hover" colors="primary:#ffffff"
                        style="width:25px;height:25px">
                    </lord-icon>
                </figure>
                <p id="paragrafo3_cell_conteudo">MARKETPLACE</p>
            </article>
        </article>

        <article class="rodape_cell_conteudo">
            <p>Copyright - 2024</p>
        </article>
    </section>



    <!--rodapé desktop-->
    <section class="rodape">
        <!--primeira seção-->
        <section>
            <article>
                <h1 class="rodape_h1 institucional">
                    institucional
                </h1>
            </article>
            <article>
                <ul class="lista_do_rodape_parte_1">
                    <li class="rodape_paragrafo institucional">sobre a ZIP</li>
                    <li class="rodape_paragrafo institucional">fornecedores</li>
                    <li class="rodape_paragrafo institucional">termos e condições</li>
                    <li class="rodape_paragrafo institucional">política de privacidade</li>
                    <li class="rodape_paragrafo institucional">configurações de privacidade</li>
                    <li class="rodape_paragrafo institucional">trabalhe conosco</li>
                    <li class="rodape_paragrafo institucional">sustentabilidade</li>
                    <li class="rodape_paragrafo institucional">mapa do site</li>
                    <li class="rodape_paragrafo institucional">investidores</li>
                    <li class="rodape_paragrafo institucional">sala de imprensa</li>
                    <li class="rodape_paragrafo institucional">blog ZIP</li>
                </ul>
            </article>
        </section>
        <!--segunda seção-->
        <section>
            <!--parte ZIP&VC-->
            <article>
                <article>
                    <h1 class="rodape_h1 segunda_secao_parte_1_h1">
                        ZIP&VC
                    </h1>
                </article>
                <article>
                    <ul class="lista_do_rodape segunda_secao_parte_1_ul">
                        <li class="rodape_paragrafo">participe do programa</li>
                    </ul>
                </article>
            </article>

            <!--parte cartão ZIP-->
            <article>
                <article>
                    <h1 class="rodape_h1 segunda_secao_parte_2_h1">
                        cartão ZIP
                    </h1>
                </article>
                <article>
                    <ul class="lista_do_rodape segunda_secao_parte_2_ul">
                        <li class="rodape_paragrafo">sobre o cartão ZIP</li>
                    </ul>
                </article>
            </article>

            <!--parte ZIP Pay-->
            <article>
                <article>
                    <h1 class="rodape_h1 segunda_secao_parte_3_h1">
                        ZIP Pay
                    </h1>
                </article>
                <article>
                    <ul class="lista_do_rodape segunda_secao_parte_3_ul">
                        <li class="rodape_paragrafo">solicite seu cartão</li>
                    </ul>
                    <ul class="lista_do_rodape segunda_secao_parte_3_ul">
                        <li class="rodape_paragrafo">tire sua dúvida por e-mail</li>
                    </ul>
                </article>
            </article>

            <!--parte cartão presente-->
            <article>
                <article>
                    <h1 class="rodape_h1 segunda_secao_parte_4_h1">
                        cartão presente
                    </h1>
                </article>
                <article>
                    <ul class="lista_do_rodape segunda_secao_parte_4_ul">
                        <li class="rodape_paragrafo">sobre o cartão presente ZIP</li>
                    </ul>
                </article>
            </article>

        </section>

        <!--parte 3-->
        <section class="terceira_secao">

            <article>
                <h1 class="rodape_h1 ">
                    serviços
                </h1>
            </article>

            <article>
                <ul class="lista_do_rodape lista_terceira_secao">
                    <li class="rodape_paragrafo">tipos de entrega</li>
                    <li class="rodape_paragrafo">clique & retire</li>
                    <li class="rodape_paragrafo">trocas & devoluções</li>
                    <li class="rodape_paragrafo">formas de pagamento</li>
                    <li class="rodape_paragrafo">todas as vantagens</li>
                    <li class="rodape_paragrafo">minha ZIP</li>
                </ul>
            </article>


            <article class="terceita_secao_bazar">
                <article>
                    <h1 class="rodape_h1 ">
                        bazar
                    </h1>
                </article>

                <article>
                    <ul class="lista_do_rodape">
                        <li class="rodape_paragrafo">veja coleção</li>
                    </ul>
                </article>

            </article>

        </section>

        <!--parte 4-->
        <section class="quarta_secao">
            <article>
                <h1 class="rodape_h1 ">
                    marketplace ZIP
                </h1>
            </article>

            <article class="lista_quarta_secao">
                <ul class="lista_do_rodape ">
                    <li class="rodape_paragrafo">venda na ZIP</li>
                    <li class="rodape_paragrafo">marketplace</li>
                </ul>
            </article>

        </section>

        <!--icones do instagram e etc-->
        <figure class="icones_do_instagram_e_etc_do_rodape">
            <img src="IMG/rodape/icone_do_instagram_e_etc_2024.png" alt="">
        </figure>

        <!--©Copyright2023  -->
        <article class="copyright">
            <h1 class="h1_do_copyright">
                © Copyright - 2024 -
            </h1>
        </article>
    </section>
</section>
</body>

</html>